@import 'nib'

body
	margin: 0
	color: black;
	background-color: black;
	box-sizing: content-box;
	background-image: url('../bg.elbert.jpeg');
	background-position: center;
	background-size: cover;
	overflow: auto;
	font-family: sans;
	letter-spacing 0.05rem
	line-height 0.9


section.container
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	box-sizing: content-box;


section.box.top
	align-self: flex-start;


section.box.bottom
	align-self: flex-end;


section.box
	box-sizing: content-box;
	flex: 0 0 auto;
	background-color: rgba(255,255,255,0.8);
	border-radius: 1ex;
	padding: 1em;
	max-width: 30em;


h1
	font-size: 3em;
	font-weight: 200;
	margin: 1ex 0;
	text-align: center

section img
	border-radius: 100%;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	border: 4px solid white;

.byline
	font-variant: small-caps
	font-size: 1.2em

@import 'src/assets/css/animation_unblur'
animation_unblur("h1, img")

@import 'src/assets/css/animation_fadeInFromAbove'
animation_fadeInFromAbove("section", 0.8s, 2)

@import 'src/assets/css/animation_rotatingtext'
animation_rotatingtext(6, 3s)
