doctype html 
html
	head
		meta(charset='utf-8')
		title samat.org · Samat K Jain
		
		link(rel='shortcut icon', href='/favicon.ico', type='image/vnd.microsoft.icon')
		link(rel='shortcut icon', href='/favicon.png', type='image/png')
		link(rel='icon', href='/pavatar.256.jpg', sizes='256x256', type='image/jpeg')
		
		link(rel='openid.server', href='http://pip.verisignlabs.com/server')
		link(rel='openid.delegate', href='http://tamasrepus.pip.verisignlabs.com/')
		link(rel='openid2.server', href='http://pip.verisignlabs.com/server')
		link(rel='openid2.delegate', href='http://tamasrepus.pip.verisignlabs.com/')
		meta(http-equiv='X-XRDS-Location', content='http://pip.verisignlabs.com/user/tamasrepus/yadisxrds')
		
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		link(rel='pgpkey', type='application/pgp-keys' title="Samat Jain's GnuPG key", href='http://wiki.samat.org/CryptoKeys?action=AttachFile&do=view&target=0x4A456FBA.asc')
		
		link(type='text/css',rel='stylesheet',media='all',href='assets/css/style.css')
	body
		section(class='container')
			section(class='box')
				h1 Hello, I'm <b>Samat</b>.
				p(class="byline") I'm an <b>entrepreneurial-minded</b> systems & software engineer.

				div(class="rw-sentence") I'm also a&nbsp;
					div(class="rw-words rw-words-1")
						span backpacker.
						span hiker.
						span life-long student.
						span yogi.
						span photographer.
						span amateur cartographer.

				p
					a(href="https://twitter.com/samatjain") I tweet.
					| 
					a(href="https://www.flickr.com/photos/tamasrepus/") I take photos.
					| 
					a(href="https://github.com/samatjain") I code.
					| 
					a(href="https://wiki.samat.org/") I wiki.
					| 
					a(href="http://stackoverflow.com/users/14878/samat-jain") I stack overflow.
					| 
					a(href="https://blog.samat.org") I blog,
					|  though I wish I did it more often.

				p.
					I'm currently based out of Albuquerque, previously Las Cruces (NM),
					New York City, San Francisco, and Cambridge (MA).
				p Did you want to <a href="https://samat.org/contact/">contact me</a>? Thanks for using <a href="https://wiki.samat.org/CryptoKeys">crypto</a>!
